$extra-large: 1550px;
$large:1024px;
$tablet: 768px;
$large-mobile: 426px;
$medium-mobile: 376px;
$small-mobile: 321px;
:root {
    --box-shadow: 7px 7px 15px #45566754,
    8px -8px 15px #5165790a,
     inset -5px -4px 13px 0px #51657959,
     inset 6px 7px 12px 0px #fffffff0;

     --inside-shadow :6px 6px 8px rgba(13, 39, 80, 0.25),
     -6px -6px 10px #fff,
     inset -8px -8px 12px rgba(255,255,255,0.7),
     inset 5px 5px 8px rgba(13,39,80,0.2);
}



body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: clip;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    .container{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 90%;
    .right, .container-box{
            margin-top: -10px;
        }
        .container-box{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            box-shadow: var(--box-shadow);
            flex-direction: column;
            position: relative;
            background-color: #f4f3ee;
            .btn{
                position: absolute;
                top: 77%;
                text-shadow: 5px 6px 6px rgba(0,0,0,0.61);
                height: 25px;
                width: auto;
                padding: 2px 3px;
            }
            .start-game{
                left: 10%;
                height: 10%;
                width: 20%;
                box-shadow: var(--box-shadow);
                button{
                    border: 1px solid transparent;
                }
            }
            .new-game{
                right: 10%;
                height: 10%;
                width: 20%;
                box-shadow: var(--box-shadow);
                button{
                    border: 1px solid transparent;
                }
            }
            .player{
                left: 45%;
            }
            .container-inner-box{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: row;
                height: 80%;
                width: 100%;
                .card-one, .card-two{
                    margin-right: 50px;
                    transform: translateX(25px);
                    box-shadow: var(--box-shadow);
                    border-radius: 5px;
                    height: 80%;
                    width: 22%;
                }
                .card{
                    position: absolute;
                    box-shadow: var(--box-shadow);
                }
                .left-second{
                    width: 15%;
                    height: 20%;
                    border: 1px solid red;
                    left: 5%;
                }
            }
        }
        .left, .right{
            width: 50%;
            box-shadow: var(--box-shadow);
            margin: 10px 0;
            margin-left: 25%;
        }

    }
}

@import './breakpoints'
