:root {
  --box-shadow: 7px 7px 15px #45566754,
  8px -8px 15px #5165790a,
   inset -5px -4px 13px 0px #51657959,
   inset 6px 7px 12px 0px #fffffff0;
  --inside-shadow:6px 6px 8px rgba(13, 39, 80, 0.25),
  -6px -6px 10px #fff,
  inset -8px -8px 12px rgba(255,255,255,0.7),
  inset 5px 5px 8px rgba(13,39,80,0.2);
}

* {
  box-sizing: border-box;
  font-family: "Poker In October Demo";
}

@font-face {
  font-family: "Poker In October Demo";
  src: url("card.otf");
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: clip;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}
body .container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
}
body .container .right, body .container .container-box {
  margin-top: -10px;
}
body .container .container-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  position: relative;
  background-color: #f4f3ee;
}
body .container .container-box .start-game button:hover, body .container .container-box .new-game button:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
body .container .container-box .btn {
  position: absolute;
  top: 77%;
  text-shadow: 5px 6px 6px rgba(0, 0, 0, 0.61);
  height: 25px;
  width: auto;
  padding: 2px 3px;
  cursor: pointer;
}
body .container .container-box .start-game {
  left: 10%;
  height: 10%;
  width: 20%;
  box-shadow: var(--box-shadow);
}
body .container .container-box .start-game button {
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}
body .container .container-box .new-game {
  right: 10%;
  height: 10%;
  width: 20%;
  box-shadow: var(--box-shadow);
}
body .container .container-box .new-game button {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
body .container .container-box .player {
  left: 45%;
}
body .container .container-box .container-inner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 80%;
  width: 100%;
}
body .container .container-box .container-inner-box .card-one, body .container .container-box .container-inner-box .card-two {
  margin-right: 50px;
  transform: translateX(25px);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  height: 80%;
  width: 22%;
  cursor: pointer;
}
body .container .container-box .container-inner-box .card {
  position: absolute;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
body .container .container-box .container-inner-box .left-second {
  width: 15%;
  height: 20%;
  left: 5%;
  top: 17%;
}
body .container .container-box .container-inner-box .left-third {
  top: 48%;
  width: 15%;
  height: 20%;
  left: 5%;
}
body .container .container-box .container-inner-box .right-second {
  width: 15%;
  height: 20%;
  right: 5%;
  top: 17%;
}
body .container .container-box .container-inner-box .right-third {
  top: 48%;
  width: 15%;
  height: 20%;
  right: 5%;
}
body .container .left, body .container .right {
  width: 50%;
  box-shadow: var(--box-shadow);
  margin: 10px 0;
  margin-left: 25%;
  height: 10%;
}
body .container .start-the-game, body .container .restert-the-game {
  width: 8%;
  box-shadow: var(--box-shadow);
  margin: 10px 0;
  height: 15%;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  padding-top: 45px;
  cursor: pointer;
}
body .container .start-the-game {
  left: 28%;
  cursor: pointer;
}
body .container .restert-the-game {
  right: 28%;
  z-index: 3;
}

@media only screen and (min-width: 1550px) {
  body .container {
    width: 80%;
    height: 90%;
  }
  body .container .container-box .container-inner-box .card-one, body .container .container-box .container-inner-box .card-two {
    margin-right: 50px;
    transform: translateX(25px);
    border: 1px solid #000;
    height: 85%;
    width: 30%;
  }
}
@media only screen and (max-width: 1024px) {
  body .container {
    width: 70%;
    height: 90%;
  }
  body .container .container-box .btn {
    position: absolute;
    top: 77%;
    text-shadow: 5px 6px 6px rgba(0, 0, 0, 0.61);
    height: 25px;
    width: auto;
    padding: 2px 3px;
  }
  body .container .container-box .start-game {
    left: 10%;
    height: 10%;
    width: 20%;
    box-shadow: var(--box-shadow);
  }
  body .container .container-box .start-game button {
    border: 1px solid transparent;
  }
  body .container .container-box .new-game {
    right: 10%;
    height: 10%;
    width: 20%;
    box-shadow: var(--box-shadow);
  }
  body .container .container-box .new-game button {
    border: 1px solid transparent;
  }
  body .container .container-box .player {
    left: 45%;
  }
  body .container .container-box .container-inner-box .card-one, body .container .container-box .container-inner-box .card-two {
    margin-right: 50px;
    transform: translateX(25px);
    height: 75%;
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  body .container {
    width: 70%;
    height: 90%;
  }
  body .container .container-box .btn {
    top: 77%;
    height: 20px;
    padding: 1px 2px;
    font-size: 12px;
  }
  body .container .container-box .container-inner-box .card-one, body .container .container-box .container-inner-box .card-two {
    margin-right: 50px;
    transform: translateX(25px);
    height: 75%;
    width: 25%;
  }
}
@media only screen and (max-width: 426px) {
  body .container {
    width: 90%;
    height: 80%;
  }
  body .container .container-box {
    position: relative;
  }
  body .container .container-box .btn {
    position: absolute;
    top: 75%;
    height: 20px;
    font-size: 12px;
  }
  body .container .container-box .start-game {
    left: 15%;
  }
  body .container .container-box .new-game {
    right: 5%;
  }
  body .container .container-box .player {
    left: 45%;
    top: 70%;
  }
  body .container .container-box .container-inner-box .card-one, body .container .container-box .container-inner-box .card-two {
    margin-right: 40px;
    transform: translateX(25px);
    height: 75% !important;
    width: 30% !important;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 376px) {
  body .container {
    width: 90%;
    height: 80%;
  }
  body .container .container-box .container-inner-box .card-one, body .container .container-box .container-inner-box .card-two {
    margin-right: 30px;
    transform: translateX(12px);
    height: 70%;
    width: 30%;
  }
}
.two {
  display: none;
}

.direction-one {
  position: absolute;
  top: 30%;
}

.direction-two {
  position: absolute;
  top: 20%;
}

.direction-three {
  position: absolute;
  top: 60%;
}

.random-cards {
  position: absolute;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}
.random-cards .box-card {
  width: 6.5%;
  height: 80%;
  margin: 0 5px;
  box-shadow: var(--box-shadow);
  -webkit-animation: box 0.15s 6 linear;
          animation: box 0.15s 6 linear;
  border-radius: 10px;
  background-color: #f4f3ee;
}
.random-cards .box-card:hover {
  transform: scale(1.02);
}
.random-cards .box-card button {
  display: none;
}
@-webkit-keyframes box {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes box {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=index.css.map */
